<div class="container">
    <mat-form-field class="generate-form">
        <mat-label>Size X</mat-label>
        <input matInput type="number" [(ngModel)]="sizeX">
     </mat-form-field>
     <mat-form-field class="generate-form">
        <mat-label>Size X</mat-label>
        <input matInput type="number" [(ngModel)]="sizeY">
     </mat-form-field>
     <mat-form-field class="generate-form">
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="name">
     </mat-form-field>
     <mat-form-field class="generate-form">
        <mat-label>Description</mat-label>
        <input matInput type="text" [(ngModel)]="description">
     </mat-form-field>
     <button mat-raised-button color ="primary" (click)="generateMaze()"> Generate </button>

</div>